In [2]:
import quandl
import pandas as pd
quandl.ApiConfig.api_key = 'ACPUDXxXEe_i9Mu-4Fdh'

In [314]:
%matplotlib inline

In [225]:
# params = pd.read_csv('quandle CMHC.csv', header=None,  names=['desc', 'id'])
params = pd.read_csv('goodParams.csv')

# goodParams=[]
# for param in params['id']:
#     data = quandl.get('CMHC/'+param)
#     print(param, len(data))
#     if len(data)>2:
#         goodParams.append(param)

# for index,row in params.iterrows():      
#     provTag ='Prov' if row['prov'] else ''
#     print('#### ' + row['id'] + ' ' + provTag)
#     print(row['desc'] + '\n')

In [3]:
# data = quandl.get('CMHC/APP65', start_date='2010-01-01', end_date='2019-09-30')
data = quandl.get('CMHC/PRVYC')

data.tail()

            Before 1960  1960 - 1979  1980 - 1999  2000 or Later  Total
Date
2014-10-31          3.5          2.9          2.6            2.8    3.0
2015-10-31          4.1          3.3          3.2            3.7    3.5
2016-10-31          4.0          3.5          3.5            4.3    3.7
2017-10-31          3.4          2.8          2.6            3.3    3.0
2018-10-31          2.6          2.4          2.1            2.7    2.4

In [ ]:
price = quandl.get('CMHC/HPPA50')
absorbed = quandl.get('CMHC/HADMA')
length = quandl.get('CMHC/HLDMA')
completion= quandl.get('CMHC/HCDAA')
absorbedCompletion = quandl.get('CMHC/HACDMA')
unabsorbedCompletion = quandl.get('CMHC/HCUDMA')
starts = quandl.get('CMHC/HSDAA')
construction = quandl.get('CMHC/HUDAA')
vacancy = quandl.get('CMHC/PRVBT')

In [41]:
metrics = [absorbed, length,completion, absorbedCompletion, unabsorbedCompletion, starts, construction ]
column = 'Apartment'

In [38]:
import inspect
def var_name(var):
    callers_local_vars = inspect.currentframe().f_back.f_locals.items()
    return [var_name for var_name, var_val in callers_local_vars if var_val is var][0]

'absorbedCompletion'

In [63]:
y = pd.DataFrame(x['Apartment']).rename(columns={'Apartment':'test'})

In [79]:
y.join(pd.DataFrame(x['Apartment']),how='outer')

                test  Apartment
Date
1990-03-31   57354.0    57354.0
1990-06-30   58406.0    58406.0
1990-09-30   54144.0    54144.0
1990-12-31   49721.0    49721.0
1991-03-31   42149.0    42149.0
...              ...        ...
2018-09-30  174757.0   174757.0
2018-12-31  179988.0   179988.0
2019-03-31  184012.0   184012.0
2019-06-30  193178.0   193178.0
2019-09-30  195771.0   195771.0

[119 rows x 2 columns]

In [87]:
result = pd.DataFrame()
for x in metrics:
    newdf = pd.DataFrame(x[column]).rename(columns={column:var_name(x)})
    if len(result) == 0:
        result = newdf
    else:
        result = result.join(newdf, how='outer')

In [88]:
result

,absorbed,length,completion,absorbedCompletion,unabsorbedCompletion,starts,construction
Date,,,,,,,
1990-01-31,1937.0,12.9,NaN,67.3,4450.0,NaN,NaN
1990-02-28,1792.0,12.8,NaN,56.4,4307.0,NaN,NaN
1990-03-31,1999.0,12.0,14770.0,66.4,4681.0,13398.0,57354.0
1990-04-30,1688.0,12.4,NaN,52.7,5165.0,NaN,NaN
1990-05-31,2709.0,10.8,NaN,70.6,4960.0,NaN,NaN
...,...,...,...,...,...,...,...
2019-05-31,2670.0,16.1,NaN,88.2,5046.0,NaN,NaN
2019-06-30,3218.0,18.6,24756.0,85.6,4805.0,34202.0,193178.0
2019-07-31,4911.0,23.2,NaN,88.0,4895.0,NaN,NaN
2019-08-31,3449.0,19.7,NaN,77.8,5459.0,NaN,NaN
2019-09-30,2731.0,21.5,28789.0,86.1,5419.0,31850.0,195771.0

In [78]:
completion

             Single  Semi-Detached     Row  Apartment    Total
Date
1990-03-31  26094.0         1496.0  3619.0    14770.0  45979.0
1990-06-30  28459.0         2268.0  3442.0    17024.0  51193.0
1990-09-30  35169.0         2441.0  4063.0    16588.0  58261.0
1990-12-31  28268.0         2312.0  4916.0    15234.0  50730.0
1991-03-31  17670.0         1280.0  3343.0    13649.0  35942.0
...             ...            ...     ...        ...      ...
2018-09-30  18058.0         3114.0  6314.0    24766.0  52252.0
2018-12-31  17936.0         2870.0  6246.0    25482.0  52534.0
2019-03-31  15271.0         2494.0  5293.0    18617.0  41675.0
2019-06-30  15275.0         2537.0  5958.0    24756.0  48526.0
2019-09-30  14540.0         2725.0  5811.0    28789.0  51865.0

[119 rows x 5 columns]

### IDEAS
Stacked bar graph: starts, under construction, complete, line price

bar graph: completion, absorbed, unabsorbed

histogram of price change%

correlation between absorbed and unabsorbed prices and future prices

population trends and prices

## BEST METRICS

#### HPPA50 Prov
Average, Median and Price Percentiles for Absorbed Homeowner and Condominium Units (in Census Metropolitan Areas and Census Agglomerations with at least 50,000 people)

#### HPPU50 Prov
Average, Median and Price Percentiles for Unabsorbed Homeowner and Condominium Units (in Census Metropolitan Areas and Census Agglomerations with at least 50,000 people)

#### HADMA Prov
Housing Absorbed Homeowner and Condominium Units by Dwelling Type (In Census Metropolitan Areas)

#### HLDMA Prov
Housing Average Length of Construction by Dwelling Type (In Census Metropolitan Areas)

#### HCDAA Prov
Housing Completions by Dwelling Type (All Areas)

#### HACDMA Prov
Housing Homeowner and Condominium Units Absorbed at Completion by Dwelling Type (In Census Metropolitan Areas)

#### HCUDMA Prov
Housing Inventory of Completed and Unabsorbed Homeowner and Condominium Units by Dwelling Type (In Census Metropolitan Areas)

#### HSDAA Prov
Housing Starts by Dwelling Type (All Areas)

#### HUDAA Prov
Housing Under Construction Inventory by Dwelling Type (All Areas)

#### PRVBT 
Vacancy Rates by Bedroom Type

## ALL METRICS

#### HPPA50 Prov
Average, Median and Price Percentiles for Absorbed Homeowner and Condominium Units (in Census Metropolitan Areas and Census Agglomerations with at least 50,000 people)

#### HPPU50 Prov
Average, Median and Price Percentiles for Unabsorbed Homeowner and Condominium Units (in Census Metropolitan Areas and Census Agglomerations with at least 50,000 people)

#### HAD50 
Housing Absorbed Homeowner and Condominium Units by Dwelling Type (In Census Metropolitan Areas and Census Agglomerations with at least 50,000 people)

#### HADMA Prov
Housing Absorbed Homeowner and Condominium Units by Dwelling Type (In Census Metropolitan Areas)

#### HAI50 
Housing Absorbed Homeowner and Condominium Units by Intended Market (In Census Metropolitan Areas and Census Agglomerations with at least 50,000 people)

#### HAIMA 
Housing Absorbed Homeowner and Condominium Units by Intended Market (In Census Metropolitan Areas)

#### HLD50 
Housing Average Length of Construction by Dwelling Type (In Census Metropolitan Areas and Census Agglomerations with at least 50,000 people)

#### HLDMA Prov
Housing Average Length of Construction by Dwelling Type (In Census Metropolitan Areas)

#### HCDAA Prov
Housing Completions by Dwelling Type (All Areas)

#### HCDMA 
Housing Completions by Dwelling Type (In Census Metropolitan Areas and Census Agglomerations with at least 50,000 people)

#### HCDMA50 
Housing Completions by Dwelling Type (In Census Metropolitan Areas and Census Agglomerations with at least 50,000 people)

#### HCDMA10 
Housing Completions by Dwelling Type (in Census Metropolitan Areas, Census Agglomerations, and other selected municipalities with at least 10,000 people)

#### HCIMA50 
Housing Completions by Intended Market (In Census Metropolitan Areas and Census Agglomerations with at least 50,000 people)

#### HCIMA 
Housing Completions by Intended Market (In Census Metropolitan Areas)

#### HCIMA10 
Housing Completions by Intended Market (In Census Metropolitan Areas, Census Agglomerations, and other, selected municipalities with at least 10,000 people)

#### HACD50 
Housing Homeowner and Condominium Units Absorbed at Completion by Dwelling Type (In Census Metropolitan Areas and Census Agglomerations with at least 50,000 people)

#### HACDMA Prov
Housing Homeowner and Condominium Units Absorbed at Completion by Dwelling Type (In Census Metropolitan Areas)

#### HACI50 
Housing Homeowner and Condominium Units Absorbed at Completion by Intended Market (In Census Metropolitan Areas and Census Agglomerations with at least 50,000 people)

#### HACIMA 
Housing Homeowner and Condominium Units Absorbed at Completion by Intended Market (In Census Metropolitan Areas)

#### HCUD50 
Housing Inventory of Completed and Unabsorbed Homeowner and Condominium Units by Dwelling Type (In Census Metropolitan Areas and Census Agglomerations with at least 50,000 people)

#### HCUDMA Prov
Housing Inventory of Completed and Unabsorbed Homeowner and Condominium Units by Dwelling Type (In Census Metropolitan Areas)

#### HSDAA Prov
Housing Starts by Dwelling Type (All Areas)

#### HSDMA50 
Housing Starts by Dwelling Type (In Census Metropolitan Areas and Census Agglomerations with at least 50,000 people)

#### HSDMA10 
Housing Starts by Dwelling Type (in Census Metropolitan Areas, Census Agglomerations, and other selected municipalities with at least 10,000 people)

#### HSDMA 
Housing Starts by Dwelling Type (In Census Metropolitan Areas

#### HSDAAS 
Housing Starts by Dwelling Type - Seasonally Adjusted (All Areas)

#### HSDMA10S 
Housing Starts by Dwelling Type - Seasonally Adjusted (in Census Metropolitan Areas, Census Agglomerations, and other selected municipalities with at least 10,000 people)

#### HSIMA50 
Housing Starts by Intended Market (In Census Metropolitan Areas and Census Agglomerations with at least 50,000 people)

#### HSIMA 
Housing Starts by Intended Market (In Census Metropolitan Areas)

#### HSIMA10 
Housing Starts by Intended Market (In Census Metropolitan Areas, Census Agglomerations, and other, selected municipalities with at least 10,000 people)

#### HUDAA Prov
Housing Under Construction Inventory by Dwelling Type (All Areas)

#### HUDMA 
Housing Under Construction Inventory by Dwelling Type (In Census Metropolitan Areas and Census Agglomerations with at least 50,000 people)

#### HUDMA50 
Housing Under Construction Inventory by Dwelling Type (In Census Metropolitan Areas and Census Agglomerations with at least 50,000 people)

#### HUDMA10 
Housing Under Construction Inventory by Dwelling Type (in Census Metropolitan Areas, Census Agglomerations, and other selected municipalities with at least 10,000 people)

#### HUIMA50 
Housing Under Construction Inventory by Intended Market (In Census Metropolitan Areas and Census Agglomerations with at least 50,000 people)

#### HUIMA 
Housing Under Construction Inventory by Intended Market (In Census Metropolitan Areas)

#### HUIMA10 
Housing Under Construction Inventory by Intended Market (In Census Metropolitan Areas, Census Agglomerations, and other, selected municipalities with at least 10,000 people)

#### SUPUM 
Seniors' Number of Units and Proportion of Overall Universe for Bachelor Units and Private Rooms where Meals are included in Rent

#### SPSR 
Seniors' Proportion (%) of Standard Spaces by Rent Range

#### SRVU 
Seniors' Rental Housing Vacancy Rates by Unit Type

#### SSUT 
Seniors' Spaces by Unit Type

#### SUDB 
Seniors' Universe of Standard Spaces By Bedroom Type

#### SVRPM 
Seniors' Vacancy Rate and Average Rent for Bachelor/Private Rooms with Meals included in Rent

#### SVRH 
Seniors' Vacancy Rate and Average Rent for Heavy Care Spaces

#### PRVBT 
Vacancy Rates by Bedroom Type

#### PRVRQ 
Vacancy Rates by Rent Quartiles

#### PRVRR 
Vacancy Rates by Rent Ranges

#### PRVSS 
Vacancy Rates by Structure Size

#### PRVYC 
Vacancy Rates by Year of Construction

## OTHER

BOC/V122520	Conventional mortgage - 1-year	monthly

BOC/V121763	Conventional mortgage - 1-year	weekly

BOC/V122522	Conventional mortgage - 3-year	monthly

BOC/V121769	Conventional mortgage - 3-year	weekly

BOC/V122521	Conventional mortgage - 5-year	monthly

BOC/V121764	Conventional mortgage - 5-year	weekly